* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #192026;
  color: white;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

div[id^="movie"] {
  margin: 0 10px 0 10px;
}

.results-movies {
  min-width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

h3 {
  font-weight: normal;
}

a {
  color: #699ff5;
  text-decoration: none;
}

#recommendations > ul {
  display: flex;
  text-align: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

#recommendations > ul > li {
  max-width: 25%;
  min-width: 25%;
  border: 2px solid #699ff5;
  border-radius: 30px;
  margin: 10px;
  align-items: center;
  justify-items: center;
  position: relative;
}

p {
  font-weight: lighter;
}

ul {
  text-align: center;
}

li {
  list-style-type: none;
}

iframe {
  max-width: 100%;
  border: 1px solid #192026;
  border-radius: 10px;
}

#ratings {
  margin-left: auto;
  margin-right: auto;
}

#ratings > ul {
  display: flex;
  text-align: center;
  justify-content: space-around;
  flex-direction: row;
}

#ratings > ul > li{
  max-width: 25%;
}

#main-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

#main-info > h3 {
  min-width: 100%;

}
#main-info > img {
  margin: 0;
  display: inline-block;
  height: auto;
  vertical-align: initial;

}
#_movie-details {
  display: inline-block;
  margin: 50px;
  max-width: 25%;
}

#recommendations > ul > li {
  height: auto;
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  min-width: 25%;
}

#recommendations > ul > li > p:nth-child(2) {
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}
