* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #192026;
  color: white;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

div[id^="movie"] {
  margin: 0 10px 0 10px;
}

.results-movies {
  min-width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
